/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-title-color: #DB00FF;
  --header_text-color: #000028;
  --accent-color: #FF0070;
  --question__color: #FF0070;
  --section__text: #F1B2CE;
  --menu-text: #FF0070;
  --active-button: #FF0070;
  --rect__color:#FF0070;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__rec::after {
  box-shadow: 0 0 8px 2px var(--accent-color);
}
