:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --header_text-color: #353430;
  --accent-color: #ff8dcb;
  --rect__color: #353430;
  --question__color: #353430;
  --section__text: #353430;
  --menu-text: #353430;
  --active-button: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --header_text-color: #353430;
    --accent-color: #ff8dcb;
    --rect__color: #353430;
    --question__color: #353430;
    --section__text: #353430;
    --menu-text: #353430;
    --active-button: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}
