/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
.page {
  margin: 0 auto;
  max-width: 64rem;
  background-color: var(--bg-color);
  background-attachment: fixed;

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  display: grid;
  width: 100%;
  height: 48rem;
  grid-template-columns: 1fr 1fr;
  background-image: var(--background-image);
  background-size: cover;
}

.decorated-zone {
  position: relative;
  border-color: var(--rect__color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--rect__color);
  border-right: 1px solid var(--rect__color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--rect__color);
  border-left: 1px solid var(--rect__color);
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--rect__color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--rect__color);
}
.header__theme-menu {
  grid-column: 1 /3;
}
.header__title {
  grid-column: 1 / 3;
}

.header__theme-menu-list {
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin-inline-start: calc(50% - 230px / 2);
  margin-top: 20px;
}
.header__theme-menu-button {
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--menu-text);
  text-transform: lowercase;
  border: none;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--active-button);
}
.header__theme-menu-button_active:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
.header__theme-menu-button_active:focus {
  outline: none;
  text-decoration: underline;
}

.header__main-title {
  width: 100%;
  margin-inline-end: 0;
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 9rem;
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}
.header .header__text {
  grid-column: 2 /3;
}
.header__text {
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--header_text-color);
  background-color: var(--accent-color);
  max-width: 491px;
  width: 100%;
  min-height: 71px;
  height: auto;
  margin-left: auto;
  margin-right: 20px;
  white-space: normal;
}
.content {
  margin-block-start: 60px;
  padding: 0 10px;
}
.content__section1 {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section__question {
  grid-row: 1 / 3;
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--question__color);
  padding-right: 20px;
}
.section1__blocks {
  grid-column: 2;
}
.section__title {
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
  margin-bottom: 10px;
}
.title-decor {
  background-color: var(--accent-color);
}

.section1__blocks .section__text {
  grid-column: 3;
}
.section__text {
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--section__text);
}
.content__section2 {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section2__blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}
.section2__blocks:nth-child(2) {
  grid-column: 1 / 2;
}

.content__section3 {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.advice__title {
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
}
.content__section3 .section__title {
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
}
.content__section4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}
.content__section4 .section__question {
  grid-column: 1 / -1;
  grid-row: 1;
}
.sunset__photo {
  grid-column: 1 / 3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icecream__photo {
  grid-column: 3;
  grid-row: 2 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tape__photo {
  grid-column: 1;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.books__photo {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.street__photo {
  grid-column: 2 / 4;
  grid-row: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decor__link {
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--section__text);
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.decor__link:hover {
  text-decoration: underline;
}

.decor__link:focus {
  border: none;
}
.decor__link:focus-visible {
  border: 1px solid #f1b2ce;
}

.footer {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__title {
  font-family: "IBM Plex Mono", normal;
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (max-width: 1023px) {
  html,
  body,
  .page {
    max-width: 100%;
    overflow-x: hidden;
  }
  .page {
    max-width: 100%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
  }
  .header__theme-menu,
  .header__title,
  .header .header__text {
    grid-column: 1;
  }
  .header__main-title {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-align: left;
    padding: 0 10px;
  }
  .header__theme-menu-list {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 192px;
    margin-right: 10px;
    padding: 0 9px;
  }
  .header__text {
    margin: 162px 20px 183px 384px;
    height: 117px;
    width: 355px;
  }

  .header__theme-menu-button {
    font-size: 18px;
  }

  .header__rec {
    margin: 10px 19px 632px 304px;
  }
  .content__section2 {
    grid-template-columns: 1fr;
  }
  .section2__blocks {
    gap: 0;
  }
  .content__section2 .section__question {
    width: 236px;
    grid-row: 1;
  }
  .content__section2 .section2__blocks {
    grid-column: 1;
  }
}
@media (max-width: 767px) {
  html,
  body,
  .page {
    max-width: 100%;
    overflow-x: hidden;
  }
  .page {
    max-width: 100%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
  }
  .header__theme-menu,
  .header__title,
  .header .header__text {
    grid-column: 1;
  }
  .header__main-title {
    position: relative;
    width: 100%;
    margin: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-align: left;
    padding: 0 10px;
  }
  .header__theme-menu-list {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 75px;
    margin-right: 10px;
    padding: 0 9px;
  }
  .header__text {
    margin: 55px 10px 66px 10px;
    height: 117px;
    width: 355px;
  }

  .header__theme-menu-button {
    font-size: 18px;
  }

  .header__rec {
    margin: 10px 19px 632px 304px;
  }
  .content__section1 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .content__section1 .section__question {
    margin-bottom: 20px;
    grid-column: 1;
  }
  .content__section1 .section1__blocks {
    grid-column: 1;
  }
  .content {
    margin-block-start: 40px;
  }
  .content__section2 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .content__section2 .section2__blocks {
    grid-column: 1;
  }
  .content__section3 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .content__section4 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 0 10px;
  }
  .content__section4 .section__question {
    grid-column: 1;
  }
  .sunset__photo {
    grid-column: 1;
    grid-row: 2;
  }
  .icecream__photo {
    grid-column: 1;
    grid-row: 3;
  }
  .tape__photo {
    grid-column: 1;
    grid-row: 4;
  }
  .books__photo {
    grid-column: 1;
    grid-row: 5;
  }
  .street__photo {
    grid-column: 1;
    grid-row: 6;
  }
  content .footer {
    width: 100%;
    min-height: 100vh;
    padding: 0;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-right: 10px;
  }
}
