*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
}

.page {
  margin: 0 auto;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-position: center bottom;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--rect__color);
  border-right: 1px solid var(--rect__color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--rect__color);
  border-left: 1px solid var(--rect__color);
}

.header__theme-menu {
  display: contents;
}

.header__title {
  display: contents;
}

.header {
  display: grid;
  height: 100vh;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--rect__color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--rect__color);
}

.header__theme-menu-list {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0 13px;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--menu-text);
  text-transform: lowercase;
  border: none;
  background-color: transparent;
  padding: 0 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--active-button);
  width: 70px;
  height: 26px;
}

.header__theme-menu-button_active:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active:focus {
  outline: none;
}
.header__theme-menu-button_active:focus-visible {
  text-decoration: underline;
}

.header__main-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--header_text-color);
  background-color: var(--accent-color);
  height: fit-content;
  justify-self: end;
  align-self: start;
}

.content {
  padding: 0 20px;
}

main {
  margin: 60px 0;
}

.content__section1,
.content__section2,
.content__section3 {
  margin-bottom: 80px;
}

.section__question {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--question__color);
}

.section__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
  margin-bottom: 10px;
}
.block_advice .section__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
  margin-bottom: 10px;
}

.title-decor {
  background-color: var(--accent-color);
}

.section__text {
  font-family: "IBM Plex Mono", normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--section__text);
}

.content__section1 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.section1__blocks {
  grid-column: 2;
}

.content__section2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.section2__blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section3 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.advice__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000028;
}
.block_advice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section4 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0;
}

.content__section4 .section__question {
  grid-column: 1 / -1;
  padding-bottom: 3px;
}

.sunset__photo,
.icecream__photo,
.tape__photo,
.books__photo,
.street__photo {
  width: 100%;
  object-fit: cover;
}

.decor__link {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--section__text);
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
}

.decor__link:hover {
  text-decoration: underline;
}

.decor__link:focus {
  border: none;
}

.decor__link:focus-visible {
  border: 1px solid #f1b2ce;
}

.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    height: 100vh;
    padding: 0 20px;
  }

  .header__theme-menu-list {
    justify-self: center;
    margin-top: 20px;
    flex-direction: row;
  }

  .header__main-title {
    font-size: 157px;
    margin-inline-start: -20px;
  }

  .header__text {
    margin-top: 114px;
    width: 491px;
  }

  .content__section1,
  .content__section3 {
    grid-template-columns: 315px 1fr;
  }
  .content__section2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .section2__blocks:nth-child(2) {
    grid-column: 1 / 2;
  }

  .content__section4 {
    grid-template-rows: auto 260px 315px 433px;
    grid-template-areas:
      "gallery gallery gallery"
      "sunset  sunset  ice-cream"
      "tape    books   ice-cream"
      "tape    street  street";
    grid-auto-flow: dense;
  }

  .content__section4 .section__question {
    grid-area: gallery;
    grid-column: 1 / 4;
  }

  .sunset__photo {
    grid-area: sunset;
  }
  .icecream__photo {
    grid-area: ice-cream;
  }
  .tape__photo {
    grid-area: tape;
  }
  .books__photo {
    grid-area: books;
  }
  .street__photo {
    grid-area: street;
  }

  .sunset__photo,
  .icecream__photo,
  .tape__photo,
  .books__photo,
  .street__photo {
    height: 100%;
  }

  .footer__title {
    font-size: 157px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 20px;
    grid-template-rows: 1fr min-content 1fr;
    padding-bottom: 60px;
  }

  .header__theme-menu-list {
    margin-top: 146px;
    align-self: start;
  }

  .header__main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    align-self: center;
  }

  .header__text {
    width: clamp(364px, -17px + 49.61vw, 491px);
    align-self: center;
    justify-self: end;
  }

  .content__section1,
  .content__section3 {
    grid-template-columns: 1fr clamp(472px, -56px + 68.75vw, 648px);
  }

  .section1__blocks {
    grid-column: 2;
  }

  .content__section2 {
    grid-template-columns: 1fr;
  }
  .content__section2 .section__question {
    width: 236px;
    height: 70px;
    padding-bottom: 23px;
  }
  .section2__blocks {
    gap: 4px;
  }

  .content__section4 {
    grid-template-rows:
      auto clamp(192px, -12px + 26.56vw, 260px) clamp(
        230px,
        -25px + 33.2vw,
        315px
      )
      clamp(318px, -27px + 44.92vw, 433px);
    grid-template-areas:
      "gallery   gallery   gallery"
      "sunset    sunset    ice-cream"
      "tape      books     ice-cream"
      "tape      street    street";
    grid-auto-flow: dense;
    padding-top: 20px;
  }

  .content__section4 .section__question {
    grid-area: gallery;
    grid-column: 1 / 4;
  }

  .sunset__photo {
    grid-area: sunset;
  }
  .icecream__photo {
    grid-area: ice-cream;
  }
  .tape__photo {
    grid-area: tape;
  }
  .books__photo {
    grid-area: books;
  }
  .street__photo {
    grid-area: street;
  }

  .sunset__photo,
  .icecream__photo,
  .tape__photo,
  .books__photo,
  .street__photo {
    height: 100%;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .footer {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .decorated-zone::before {
    top: 12px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__rec {
    top: 10px;
    right: 38px;
  }

  .header {
    padding: 0 10px;
    grid-template-rows: 0.26fr 0.47fr 0.27fr;
  }

  .header__theme-menu-list {
    margin-top: clamp(75px, -36.64px + 29.77vw, 192px);
    padding: 0 10px;
  }

  .header__main-title {
    font-size: clamp(7.3rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    width: clamp(360px, 346.41px + 2.29vw, 360px);
  }

  .content {
    padding: 0 10px;
    margin-bottom: 50px;
  }

  main {
    margin: 40px 0;
  }

  .content__section1,
  .content__section2,
  .content__section3 {
    margin-bottom: 50px;
  }

  .content__section1 {
    grid-template-columns: 1fr;
  }

  .content__section1 .section1__blocks {
    grid-column: 1;
    padding-bottom: 4px;
    height: 431px;
  }
  .section1__blocks .section__text {
    height: 351px;
  }

  .content__section2 {
    grid-template-columns: 1fr;
    padding-bottom: 7px;
  }
  .section2__blocks {
    gap: 4px;
  }
  .content__section3 {
    grid-template-columns: 1fr;
    gap: 5px;
    padding-bottom: 5px;
    max-height: 1736px;
  }
  .section3__blocks {
    padding-bottom: 2px;
  }
  .section3__blocks .section__text {
    padding-bottom: 3px;
  }
  .content__section3 .section__question {
    padding-bottom: 13px;
  }

  .content__section4 {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-template-areas: none;
    gap: 8px;
  }

  .content__section4 .section__question {
    margin: 0;
  }
  .sunset__photo,
  .icecream__photo,
  .tape__photo,
  .books__photo,
  .street__photo {
    grid-area: auto;
    height: auto;
  }

  .footer {
    min-height: 668px;
    margin-bottom: 0;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
