:root {
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-title-color: #db00ff;
  --header_text-color: #000028;
  --accent-color: #ff0070;
  --question__color: #ff0070;
  --section__text: #f1b2ce;
  --menu-text: #ff0070;
  --active-button: #ff0070;
  --rect__color: #ff0070;
}
