/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-title-color: #DB00FF;
  --header_text-color: #000028;
  --accent-color: #FF0070;
  --question__color: #FF0070;
  --section__text: #F1B2CE;
  --menu-text: #FF0070;
  --active-button: #FF0070;
  --rect__color:#FF0070;
}